body {
  font-size: 18px;
  font-family: "Kumbh Sans", sans-serif;
  background-image: url("../images/bg-pattern-top.svg"),
    url("../images/bg-pattern-bottom.svg");
  background-position-x: -350px, 700px;
  background-position-y: -600px, 300px;
  background-repeat: no-repeat;
  background-color: hsl(185, 75%, 39%);
}

.profile-card-body{
    background-color: white;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #e1e8ee;
}

.profile-card{
    border-radius: 10px;
    position: relative;
    text-align: center;
    width: 350px;
    padding-top: 150px;
    margin: 5%  auto auto;
    background-image: url("../images/bg-pattern-card.svg");
}

.profile-card-info{
    padding-top: 70px;
    padding-bottom: 20px;
}

.profile-card-footer {
    text-align: center;
    display: flex;
    justify-content: space-around;
    border-style: none;
    border-top-style: solid;
    border-top-color: hsl(0, 0%, 59%);
    border-top-width: thin;
    padding: 20px 10px 20px 10px;
}

.footer-stats{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.footer-name{
    font-weight: 400;
    color: hsl(0, 0%, 59%);
    font-size: 12px;
}

.info-name{
    font-weight: 700;
    color: hsl(229, 23%, 23%);
}

.info-age{
    color: hsl(0, 0%, 59%);
}

.info-city{
    font-size: 14px;
    color: hsl(0, 0%, 59%);
}

.profile-image{
    border-radius: 100%;
    box-sizing: border-box;
    border: 5px solid white;
    position: absolute;
    top: 100px;
    left: 125px;
    width: 100px;
}
